.Hello { background-color: burlywood;
    padding-bottom: 400px;
}
body { background-color: rgb(10, 40, 81);
}
 h1 {text-align: center;
     background-color: blueviolet;
        margin-top: 0%;
 }

hr { background-color: black;

}